<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Gerenciamento de Alunos</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-light">

   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid justify-content-center">
        <span class="navbar-brand mb-0 h1 mx-4 text-gray"> Seja Bem-vindo ao SIGAA 2 </span>
        </div>
      </nav>
    </header>

  <div class="container py-5 text-center">

    <h1 class="mb-4">Sistema de Gerenciamento de Alunos</h1>
    <p class="lead">Gerencie alunos e pipipi popopo.</p>
    <a href="{% url 'alunos' %}" class="btn border border-success text-success bg-white btn-lg mt-3">Ir para Alunos</a>
  </div>

</body>
</html>